@page "/country/{Cca2}"
@using Microsoft.AspNetCore.Authorization;
@using QuickType;
@using System.Globalization;
@inject CountriesService countriesService
@inject NavigationManager NavigationManager
@attribute [Authorize]
<PageTitle>Country Details</PageTitle>

<div class="country-details">
    <a href="javascript:void(0)" @onclick="GoBack" class="back-button">
        <img src="https://cdn1.iconfinder.com/data/icons/lightly-selected/30/back-alt-480.png" alt="Back" class="back-image" />
    </a>
    <h1>@country?.Name?.Common</h1>
    <p>Country Code: @Cca2</p>

    @if (country != null)
    {
        <div class="country-info">
            <img src=@country.Flags.Png alt="Bandera de @country.Name?.Common" class="flag-image" />
            <div class="info">
                <p><b>Nombre Oficial: </b>@country.Name?.Official</p>
                <p><b>Capital: </b>@country.Capital?.FirstOrDefault()</p>
                <p>
                    <b>Población: </b>@country.Population.ToString("N0", CultureInfo.GetCultureInfo("en-US"))
                </p>
                <p><b>Región: </b>@country.Region</p>
                <p><b>Subregión: </b>@country.Subregion</p>
                <p><b>Languajes: </b>@string.Join(", ", country.Languages)</p>
            </div>
        </div>

        <!-- Mapa embebido de OpenStreetMap con un marcador en las coordenadas dinámicas -->
        <div class="map-container">
            <iframe width="960"
                    height="450"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://www.openstreetmap.org/export/embed.html?layer=mapnik&marker=@country.Latlng[0],@country.Latlng[1]">
            </iframe>
            <br />
            <small>
                <a href="https://www.openstreetmap.org/?mlat=@country.Latlng[0]&mlon=@country.Latlng[1]#map=5/@country.Latlng[0]/@country.Latlng[1]" target="_blank" rel="noopener noreferrer">
                    Ver en OpenStreetMap
                </a>
            </small>
        </div>
    }
    else
    {
        <p>No data...</p>
    }
</div>

@code {
    [Parameter] public string? Cca2 { get; set; }
    private countryV3? country;
    private bool isLoading = true; // Estado de carga

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var countriesInEurope = await countriesService.GetCountriesByCode(Cca2);
            country = countriesInEurope?.FirstOrDefault(c => c.Cca2 == Cca2);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar los países: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }

    private void GoBack()
    {
        // Aquí puedes usar NavigationManager para volver a la página anterior
        NavigationManager.NavigateTo("/Index"); // Cambia "/previousPage" por la ruta que necesites
    }
}
